// 颜色变量

$--primary-blue-default: #2659F6;  //主题色/蓝/默认
$--primary-blue-deep: #2441C5;  //主题色/蓝/深
$--primary-blue-1: #517AF8;  //主题色/蓝/20%/白
$--primary-blue-2: #93ACFA;  //主题色/蓝/50%/白
$--primary-blue-2: #BECDFC;  //主题色/蓝/70%/白
$--primary-blue-3: #D4DEFD;  //主题色/蓝/80%/白
$--primary-blue-4: #E9EEFE;  //主题色/蓝/90%/白


$--primary-green-default: #1AC468;  //主题色/绿/默认
$--primary-green-deep: #00A84D;  //主题色/绿/深
$--primary-green-1: #48D086;  //主题色/绿/20%/白
$--primary-green-2: #8CE1B3;  //主题色/绿/50%/白
$--primary-green-3: #BAEDD2;  //主题色/绿/70%/白
$--primary-green-3: #D1F3E1;  //主题色/绿/80%/白
$--primary-green-4: #E8F9F0;  //主题色/绿/90%/白


$--primary-red-default: #FF3B3D;  //主题色/红/默认
$--primary-red-deep: #DB1C3F;  //主题色/红/深
$--primary-red-1: #FF6264;  //主题色/红/20%/白
$--primary-red-2: #FFA6A7;  //主题色/红/50%/白
$--primary-red-3: #FFCACA;  //主题色/红/70%/白
$--primary-red-3: #FFDBDC;  //主题色/红/80%/白
$--primary-red-4: #FFEDED;  //主题色/红/90%/白


$--primary-yellow-default: #FFAC07;  //主题色/黄/默认
$--primary-yellow-deep: #D48D00;  //主题色/黄/深
$--primary-yellow-1: #FBBD43;  //主题色/黄/20%/白
$--primary-yellow-2: #FDD689;  //主题色/黄/50%/白
$--primary-yellow-3: #FEE6B8;  //主题色/黄/70%/白
$--primary-yellow-3: #FEEFD0;  //主题色/黄/80%/白
$--primary-yellow-4: #FFF7E7;  //主题色/黄/90%/白


$--business-color-01: #F5222D;  //业务色/01
$--business-color-02: #FA541C;  //业务色/02
$--business-color-03: #FA8C16;  //业务色/03
$--business-color-04: #FAAD14;  //业务色/04
$--business-color-05: #FADB14;  //业务色/05
$--business-color-06: #A0D911;  //业务色/06
$--business-color-07: #52C41A;  //业务色/07
$--business-color-08: #13C2C2;  //业务色/08
$--business-color-09: #1677FF;  //业务色/09
$--business-color-10: #2F54EB;  //业务色/10
$--business-color-11: #722ED1;  //业务色/11
$--business-color-12: #EB2F96;  //业务色/12


$--text-color-10: #00001C;  //文字色/明度10
$--text-color-20: #2C303B;  //文字色/明度20
$--text-color-40: #4D5362;  //文字色/明度40
$--text-color-60: #707889;  //文字色/明度60
$--text-color-70: #B9C1CD;  //文字色/明度70
$--text-color-80: #DFE3EB;  //文字色/明度80


$--border-color-default: #DCDFE6;  //边框色/默认
$--border-color-shallow: #EBEEF5;  //边框色/浅


$--fill-color-default: #F0F2F5;  //填充色/默认
$--fill-color-shallow: #F7F8FA;  //填充色/浅


$--background-color-default: #F7F8FA;  //背景色


