// 字体变量

$--font-PingFang: 'PingFang SC';  //苹方
$--font-Microsoft: 'Microsoft Sans Serif';  //微软雅黑
$--font-Heiti: 'Heiti SC';  //黑体
$--font-Songti: 'Songti SC';  //宋体
$--font-Helvetica: 'Helvetica Neue';  //数字-英文


// ios 字体


// Android 系统字体
$--font-Source: 'Source Han Sans CN';  //中文-思源黑体